<h2>search client</h2>
<div class="search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search__form">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput [formControl]="firstNameControl" placeholder="Иван" />
      <mat-error *ngIf="firstNameControl.hasError('required')">required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput [formControl]="lastNameControl" placeholder="Иванов" />
      <mat-error *ngIf="lastNameControl.hasError('required')">required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="searchForm.invalid" class="search__btn">search</button>
  </form>
  <button
    class="clear"
    mat-raised-button
    color="primary"
    (click)="changeClearButtonVisibility()"
    *ngIf="showClearButton"
    >clear sort</button
  >
</div>
